#finalSpeechToTextId {
	width: 50%;
    text-align: center;
    left: 20%;
    position: relative;
    top: 40px;
}

#micId {
	position: relative;
    top: 14px;
    float: right;
    text-align: center;
    font-size: 20px;
    left: -418px;
}